<div class="market-data">
  <div class="data-box">
    <div class="data-box-column">
      <span>Symbol:</span>
      <span *ngIf="realTimeData">{{ marketDataService.activeSymbol }}</span>
      <span *ngIf="!realTimeData">???</span>
    </div>
    <div class="data-box-column">
      <span>Price:</span>
      <span *ngIf="realTimeData?.ask?.price">{{ realTimeData?.ask?.price | currency }}</span>
      <span *ngIf="!realTimeData?.ask?.price">{{ prevPrise }}</span>
    </div>
    <div class="data-box-column">
      <span>Time:</span>
      <span *ngIf="realTimeData?.ask?.timestamp">{{ realTimeData?.ask?.timestamp | date:'medium' }}</span>
      <span *ngIf="!realTimeData?.ask?.price">{{ prevTime }}</span>
    </div>
  </div>
</div>